/* HELPERS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { font-family: 'Open Sans', sans-serif; }


.bg-color-blue { background-color: #0061ff; }
.bg-color-white { background-color: white }
.bg-color-azure { background-color: #b4d0e7; }
.bg-color-black { background-color: #000000; }
.bg-color-designit { background-color: #a2d39b; }
.bg-color-arizona { background-color: #61082b; }
.bg-color-tops { background-color: #ff1c1c; }
.bg-color-florida { background-color: #0093ce; }
.bg-color-world { background-color: #d5001f; }
.bg-color-planet { background-color: #0d2481; }
.bg-color-hearts { background-color: #b4d0e7; }
.bg-color-clear { background-color: #ffd830; }
.bg-color-scroll-y { background-color: #f5f5f5; }

.width { width: 100%; }
.w300 { width: 18.75rem;}

.height { height: 100%; }
.min-height { min-height: 34.375rem; }
.h40 { height: 2.5rem;}
.h100 { height: 100%; }
.h400 { height: 25rem;}
.h730 { height: 45.625rem;}
.vh100 { height: 100vh; }



.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.padding15 { padding: .9375rem; }

.col15 { width: 15%; }
.col30 { width: 30%; }
.col40 { width: 40%; }
.col60 { width: 60%; }
.col70 { width: 70%; }

/* FLEX  */

.flex { display: flex; }

.space-between { justify-content: space-between; }

.align-items-center { align-items: center; }

.wrap { flex-wrap: wrap; }

.flex-column { 
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
} 

/* Boxed */

.boxed {
    max-width: 62.5rem;
    margin: 0 auto;
}

/* A LINK*/

.a-noline {
    color: #2b2b2b;
    text-decoration: none;
}

a:hover { text-decoration: underline; }

/* BUTTON  */

.btn-blue {
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* H n BORDER  */

h2 { font-size: 2.5rem;}

h3 { font-size: 1.5625rem; } 

.border { border: 1px solid rgba(0, 0, 0, 0.288); }

/* MARGIN  */

.margin-bottom20 { margin-bottom: 1.25rem;}

.margin-bottom50 { margin-bottom: 3.125rem; }

.margin-bottom150 { margin-bottom: 9.375rem; }

.margin-top10 { margin-top: .625rem; }

.margin-top25 { margin-top: 1.625rem; }

.margin-top40 { margin-top: 2.5rem; }

.margin-top150 { margin-top: 9.375rem; }

/* HEADER */

header {
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: -5.5px 8.5px 8.5px -3.5px #dddddd;
}

.margin-left {
    margin-left: 1.25rem;
}

.margin-right {
    margin-left: 1.25rem;
}

.btn-nav {
    font-size: 16px;
    padding: 0.4em 1em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

.btn-nav:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

.btn-nav:active {
    transform: translate(0em, 0.2em);
}


/* MAIN  */


/* HERO SECTION  */

.hero-content {
    max-width: 75rem;
    margin: 0 auto;
    padding-top: 6.25rem;
}

h1 { font-size: 5rem; }

.cont1 { margin-top: 50px; }

.col30 p { font-size: 1.25rem;}

.col70 { 
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: -150px;
}

/* SECTION SUB PLAN  */

.cont2 { 
    margin-top: 9.375rem;
}

.column-h950 { height: 59.375rem;}

.col40-sub { 
    height: 40%;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.5625rem;
}

.col60-sub { 
    height: 60%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 1.5625rem;
}

.hr-sub1 { width: 100%; }

.hr-sub2 { width: 60%; }

.padding-bottom40 { padding-bottom: 2.5rem; }

.padding-bottom20 { padding-bottom: 1.25rem; }

.fa-check { color: dodgerblue;}

/* SECTION CUSTOMER SERVICE  */

.btn-white {
    background-color: white;
    border: .0625rem solid #2b2b2b;
    color: #2b2b2b;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* SECTION PARTNER  */

.flex1 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

/* SECTION HOW IT WORKS DROPBOX */

.section4-img {
    width: 100%;
    height: calc(100% / 3);
}

/* SECTION FIND PARTNER  */

.col60 > img {
    width: 100%;
    height: 100%;
}

/* SECTION SPONSOR  */

.column-sponsor {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.div-interno {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

svg path {
    fill: white;
}

#black-svg {
    width: 12.5rem;
    height: 6.25rem;
    margin-bottom: 2.5rem;
}

.bg-color-scroll-y {
    padding: 2.5rem;
    overflow-y: scroll;
}

.bg-color-scroll-y svg path { fill: #2b2b2b; }

.border-shadow { border: 1.25rem solid #d1e9cd ; }

#arizona-svg {
    width: 12.5rem;
    height: 6.25rem;
    margin-bottom: 2.5rem
}

/* SECTION FREE SUB */

.start-sub-free { height: 22.1875rem; }

.align-itmes-center { align-items: center; }  

/* SECTION FAQ  */

.faq { flex-direction: column; }

.margin50-0 { margin: 3.125rem 0;}

.padding-right-50 { padding-right: 50px; }

.cont-relative { position: relative; }

.arrow-btn {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.arrow-btn:hover {
    transform: rotate(180deg);
  }

.additional-content {
    display: none;
    background-color: #f5f5f5;
    padding: 20px;
}

.arrow-btn:hover + .additional-content {
    display: block;
} 

/* FOOTER  */

.footer-boxed {
    max-width: 68.75rem;
    margin: 0 auto;    
}

.a-noline-white {
    color: white;
    text-decoration: none;
}
.a-noline-white:hover { text-decoration: underline; }

footer h3 { color: white; }

.col15 {
    height: 18.75rem;
    flex-direction: column;
}
.col15 div{
    margin-top: .9375rem;
}

.color-white { 
    color: white; 
    height: 7.5rem;
    position: relative;
}

.position-absolute { 
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
